.search-container{
    display:inline-block;
    width:400px;
    margin-left:30%;
}

.container{
    margin:20px;
}

.pictures-container{
    margin:0 auto;
    width:50%;
    
}

.img-container{
    display:inline-block;
    margin:20px;
    width:300px;
    height:300px;
    overflow:hidden
}

img{
    height:100%;
    width:130%;
}

li{
    display:inline-block;
}